body {
	font-family: Helvetica;
	font-size: 12px;
}
.bar {
}
.brRow {
	border-bottom: 1px solid yellow;
	display: table-row;
}
.brLabel {
	padding: 0 .5em;
}
.brLabel,
.brBars,
.brPct {
	display: table-cell;
	vertical-align: middle;
}
.brBars {
	width: 100%;
}
.brBar {
	background: green;
	line-height: 2em;

	border-right: 1px solid lightgreen;
	padding-right: 5px;
	text-align: right;
	box-sizing: border-box;
	overflow: hidden;
}
.brStacked .brBar {
	float: left;	
}