body {
	font-family: Helvetica;
	font-size: 12px;
}
.bar {
}
.brRow {
	border-bottom: 1px solid yellow;
	display: table-row;
}
.brRow > div {
	border-bottom: 1px solid #eee;
}
.brLabel,
.brPct {
	padding: .5em;
}
.brLabel {
	border-right: 1px solid #777;
}
.brLabel,
.brBars,
.brPct {
	display: table-cell;
	vertical-align: middle;
}
.brBars {
	width: 100%;
}
.brBar {
	line-height: 2em;

	border-right: 1px solid rgba(0,0,0,0.4);
	border-bottom: 1px solid rgba(0,0,0,0.4);
	
	padding-right: 5px;
	text-align: right;
	box-sizing: border-box;
	overflow: hidden;

	color: #fff;
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 47%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 47%);

}
.brStacked .brBar {
	float: left;	
}

/* default colorscheme for bars */
#brBar0 { background-color: #6FBF4D; }
#brBar1 { background-color: #5b9e3e; }
#brBar2 { background-color: #477e30; }
#brBar3 { background-color: #356022; }
